
h1{	
	height: 80px;
	text-align: center;
	margin: 20px;
}

#displayRestaurant{
	margin: 10px;
	padding: 10px;
	background-color: lightgray;
}

#restaurantDescription{
	margin-top: 20px;
}

#restaurantAddress{
	margin-top: 20px;
}

#reviewTable{
	display: none;
}